.home_wrapper {
  .home {
    width: 100%;
    height: fit-content;
    margin-top: 80px;

    .container {
      height: 600px;
      display: flex;
      align-items: center;
      position: relative;

      .txt_con {
        width: 40%;

        h4 {
          text-transform: capitalize;
          font-size: 18px;
        }

        h2 {
          font-size: 30px;
          text-transform: capitalize;
        }

        h1 {
          font-size: 50px;
          text-transform: capitalize;
          color: var(--first-color);
          font-family: var(--font);
        }

        p {
          padding-top: 10px;
        }

        button {
          margin-top: 30px;
        }

        .img_con {
          width: 60%;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }
    }
  }

  .popular_section {
    .nav {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        text-transform: capitalize;
        font-size: 25px;

        span {
          color: var(--first-color);
        }
      }

      .action_btn {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;

        span {
          border: 1px solid var(--border-color);
          background: var(--first-color-alt);
          height: 35px;
          width: 35px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          color: var(--first-color);
        }
      }
    }

    .wrapper {
      margin-top: 10px;

      .box {
        border: 1px solid var(--border-color);
        padding: 10px;
        border-radius: 10px;

        .img_con {
          height: 150px;
          border-radius: inherit;
          overflow: hidden;
        }
        h4 {
          text-transform: capitalize;
          text-align: center;
          font-size: 15px;
          padding-top: 20px;
          color: var(--text-color);
        }
      }

      .popular_pro_wrapper {
        padding: 0 5%;
      }
    }
  }

  .product_section {
    margin-top: 70px;
    .nav {
      padding: 20px 0;
      text-align: center;

      h2 {
        text-transform: capitalize;

        span {
          color: var(--first-color);
        }
      }
    }

    .product_wrapper {
      margin-top: 20px;
    }

    .btn_con {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 30px;
    }
  }

  .deal_section {
    margin-top: 70px;
    .container {
      display: flex;
      align-items: center;
      gap: 20px;

      .first_box {
        background-image: url("../../assets/deals-1.jpg");
      }

      .second_box {
        background-image: url("../../assets/deals-2.png");
      }

      .box {
        flex: 1;
        padding: 40px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        h2 {
          text-transform: capitalize;
          font-size: 30px;
          color: var(--first-color);
        }
        p {
          text-transform: capitalize;
        }

        h3 {
          text-transform: capitalize;
          font-size: 25px;
          color: var(--text-color);
          padding-top: 30px;
          width: 60%;
        }
        h4 {
          padding: 30px 0;
          display: inline-flex;
          align-items: center;
          gap: 20px;
          color: rgb(219, 48, 48);
          font-size: 20px;
          span {
            text-decoration: line-through;
            color: var(--text-color-alt);
            font-size: 15px;
          }
        }

        .time_limit {
          p {
            padding-bottom: 10px;
          }

          .time {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
              color: var(--body-color);
              background: var(--first-color);
              padding: 10px 15px;
              border-radius: 5px;
            }
          }
        }

        button {
          background: var(--first-color-alt);
          color: var(--first-color);
          border-color: var(--first-color);
          margin-top: 40px;
          padding: 15px 30px;

          &:hover {
            background: var(--first-color);
            color: var(--body-color);
          }
        }
      }
    }
  }

  .new_arrival {
    margin-top: 70px;
    .nav {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        text-transform: capitalize;
        font-size: 25px;

        span {
          color: var(--first-color);
        }
      }

      .action_btn {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;

        span {
          border: 1px solid var(--border-color);
          background: var(--first-color-alt);
          height: 35px;
          width: 35px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          color: var(--first-color);
        }
      }
    }
    .wrapper .product_wrapper {
      padding: 0 10%;
    }
  }

  .event_section {
    margin-top: 70px;
    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .part1 {
      display: flex;
      gap: 20px;
      align-items: center;

      .box {
        flex: 1;
        height: 350px;
        position: relative;

        .img_con {
          height: 100%;
          width: 100%;
        }

        .txt_con {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 50px;
          color: var(--body-color);

          h5 {
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 600;
          }

          h3 {
            text-transform: capitalize;
            font-size: 25px;
            color: var(--body-color);
            padding-top: 10px;
          }

          p {
            text-transform: capitalize;
            padding: 20px 0;
            color: var(--body-color);
          }
        }

        &:nth-child(2) {
          .txt_con button {
            background: transparent;
            border-color: var(--body-color);
            &:hover {
              background: white;
              color: var(--title-color);
            }
          }
        }
      }
    }

    .part2 {
      display: flex;
      align-items: center;
      gap: 20px;

      .box {
        height: 250px;
        flex: 1;
        position: relative;
        .img_con {
          width: 100%;
          height: 100%;
        }

        .txt_con {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 50px;
          color: var(--body-color);

          h3 {
            text-transform: capitalize;
            font-size: 25px;
            color: var(--body-color);
            padding-top: 10px;
          }

          p {
            text-transform: capitalize;
            padding: 20px 0;
            color: rgb(218, 48, 48);
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .home_wrapper {
    .deal_section {
      .container {
        gap: 10px;

        .box {
          padding: 40px 20px;

          h2 {
            font-size: 25px;
          }
          p {
            text-transform: capitalize;
          }

          h3 {
            font-size: 20px;
          }
          h4 {
            font-size: 15px;
            span {
              font-size: 10px;
            }
          }

          .time_limit {
            .time {
              display: flex;
              align-items: center;
              gap: 10px;

              span {
                font-size: 10px;
              }
            }
          }
        }
      }
    }

    .event_section {
      .container {
        gap: 10px;
      }
      .part1 {
        gap: 10px;

        .txt_con {
          left: 20px;
        }
      }

      .part2 {
        gap: 10px;

        .box {
          .txt_con {
            left: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home_wrapper {
    .home {
      margin-top: 140px;
      padding-bottom: 30px;

      .container {
        height: fit-content;

        .txt_con {
          width: 100%;
          text-align: center;

          .img_con {
            width: 100%;
            position: relative;
            top: 0;
            right: 0;
            transform: translateY(0);
            margin-top: 10px;
          }
        }
      }
    }

    .event_section {
      .part1 {
        .box {
          height: 300px;
          .txt_con {
            left: 20px;
            h5 {
              font-size: 14px;
            }

            h3 {
              font-size: 20px;
            }
            button {
              padding: 15px 30px;
              font-size: 15px;
            }
          }
        }
      }

      .part2 {
        .box {
          height: 200px;
          .txt_con {
            h3 {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .home_wrapper {
    .deal_section {
      .container {
        flex-direction: column;

        .box {
          width: 100%;
          flex: 1;

          h2 {
            font-size: 30px;
          }

          h3 {
            font-size: 25px;
          }
          h4 {
            font-size: 20px;
            span {
              font-size: 15px;
            }
          }

          button {
            background: var(--first-color-alt);
            color: var(--first-color);
            border-color: var(--first-color);
            margin-top: 40px;
            padding: 15px 30px;

            &:hover {
              background: var(--first-color);
              color: var(--body-color);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .home_wrapper {
    .home {
      .container {
        .txt_con {
          h4 {
            font-size: 15px;
            padding-bottom: 5px;
          }

          h2 {
            font-size: 25px;
            padding-bottom: 5px;
          }

          h1 {
            font-size: 40px;
          }

          p {
            padding-top: 15px;
          }

          button {
            margin-top: 20px;
          }
        }
      }
    }

    .popular_section {
      .nav {
        h2 {
          font-size: 20px;
        }

        .action_btn {
          gap: 20px;

          span {
            height: 30px;
            width: 30px;
          }
        }
      }
    }

    .deal_section {
      .container {
        .box {
          h2 {
            font-size: 20px;
          }

          h3 {
            font-size: 15px;
          }
        }
      }
    }

    .new_arrival {
      .nav {
        h2 {
          text-transform: capitalize;
          font-size: 20px;
        }

        .action_btn {
          span {
            height: 30px;
            width: 30px;
          }
        }
      }
    }

    .event_section {
      .part1 {
        flex-direction: column;
        height: 500px;
        .box {
          height: fit-content;
          .txt_con {
            left: 20px;
            h5 {
              font-size: 14px;
            }

            h3 {
              font-size: 20px;
            }
            button {
              padding: 15px 30px;
              font-size: 15px;
            }
          }
        }
      }

      .part2 {
        flex-direction: column;
        .box {
          height: 200px;
          .txt_con {
            h3 {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    width: 90%;
  }
}
