@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&family=Lobster&display=swap");

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

:root {
  --first-color: hsl(176, 88%, 27%);
  --first-color-alt: hsl(129, 44%, 94%);
  --second-color: hsl(34, 94%, 87%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(154, 13%, 32%);
  --text-color-alt: hsl(60, 1%, 56%);
  --body-color: hsl(0, 0%, 100%);
  --border-color: hsl(129, 36%, 85%);
  --border-color-alt: hsl(113, 15%, 90%);
  --font: "Lobster", sans-serif;
}

body {
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
}

h2,
h2 span {
  font-family: var(--font);
}

p {
  font-size: 16px;
  color: var(--text-color);
}

h2 {
  font-size: 35px;
}

img {
  width: 100%;
  height: 100%;
}

.heading {
  height: 300px;
  background-image: url("./assets/banner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;

  .container {
    padding-top: 200px;
    display: flex;
    align-items: center;
    gap: 20px;

    h2 {
      font-size: 15px;
      text-transform: capitalize;
      color: var(--body-color);
    }

    h2:nth-child(2) {
      font-size: 20px;
    }
    h2:nth-child(3) {
      font-size: 25px;
    }
    h2:nth-child(4) {
      font-size: 30px;
    }
    h2:nth-child(5) {
      font-size: 35px;
    }

    h2:last-child {
      color: var(--first-color);
    }
  }
}

button {
  text-transform: capitalize;
  padding: 20px 30px;
  background: var(--first-color);
  color: var(--body-color);
  font-family: var(--second-font);
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  border: 2px solid transparent;
  font-weight: 500;
  transition: 0.4s ease-in-out;

  &:hover {
    background: transparent;
    border-color: var(--first-color);
    color: var(--first-color);
  }
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.product_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  .product_box {
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 20px;
    position: relative;

    .img_con {
      border-radius: inherit;
      overflow: hidden;
      height: 250px;
      position: relative;

      img {
        transition: 0.4s ease-in-out;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: black;
        opacity: 0;
        transition: 0.4s ease-in-out;
        z-index: 4;
      }
      .action_btns {
        position: absolute;
        bottom: -110%;
        display: flex;
        align-items: center;
        gap: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        transition: 0.4s ease-in-out;
      }

      &:hover {
        &::before {
          opacity: 0.5;
        }
        .action_btns {
          bottom: 100px;
        }

        img {
          transform: scale(1.1);
        }
      }
    }

    .txt_con {
      padding: 10px 0;

      p {
        padding-bottom: 7px;
        text-transform: capitalize;
        font-size: 13px;
        font-weight: 600;
        color: var(--text-color-alt);
      }

      h3 {
        text-transform: capitalize;
        font-size: 18px;
      }

      .col {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        .stars {
          display: flex;
          margin-bottom: 10px;
          .icon {
            color: rgb(230, 199, 23);
          }
        }

        h4 {
          display: flex;
          align-items: center;
          gap: 20px;
          font-size: 17px;
          color: var(--first-color);

          span {
            text-decoration: line-through;
            color: var(--text-color-alt);
            font-size: 13px;
          }
        }

        .btn {
          margin-right: 10px;
          button {
            border: 1px solid var(--border-color);
            height: 40px;
            width: 40px;

            .icon {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.btn {
  position: relative;
  button {
    background: var(--first-color-alt);
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      font-size: 15px;
      color: var(--title-color);
    }

    &:hover {
      background: var(--first-color);

      .icon {
        color: var(--body-color);
      }
    }
  }

  span {
    position: absolute;
    padding: 10px;
    text-transform: capitalize;
    font-size: 10px;
    background: var(--first-color);
    color: var(--body-color);
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: 0.4s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: 10px;
      left: 35%;
      z-index: -1;
      background: var(--first-color);
      transform: rotate(45deg);
    }
  }

  &:hover span {
    opacity: 1;
    top: -40px;
  }
}

@media (max-width: 1400px) {
  .container {
    width: 80%;
  }
}
